#arena {
	margin: 0 auto;
	margin-top: 50px;
	width: 800px;
	height: 800px;
}

body{
	background: #1a237e;
}

#game-canvas
{
	border: 1.5px solid blue;
	text-align: center;
}

h1
{
        font: 46px fantasy;
	text-align: center;
	color: #ffab00;
	text-shadow: 2px 2px 4px rgba(0,0,80,1.0);
	z-index: 1;
}

#score{
	font: 46px fantasy;
	text-align: center;
	color: #ffab00;
	text-shadow: 2px 2px 4px rgba(0,0,80,1.0);
	z-index: 1;
}

#fps{
	position: absolute;
	margin-top: -2em;
	z-index: 1;
	color: #ffab00;
	text-shadow: 1px 1px 1px rgb(0,0,80);
	font: bold 20px fantasy;
	z-index: 1;
}

#level{
        position:absolute;
        padding-left: 55em;
	margin-top: -2em;
	z-index: 1;
	color: #ffab00;
	text-shadow: 1px 1px 1px rgb(0,0,80);
	font: bold 20px fantasy;
	z-index: 1;
}

#lives{
        position:absolute;
        padding-left: 20em;
	margin-top: -2em;
	z-index: 1;
	color: #ffab00;
	text-shadow: 1px 1px 1px rgb(0,0,80);
	font: bold 20px fantasy;
	z-index: 1;
}

#toast{
	position: absolute;
	margin-left: 350px;
	margin-top: 69px;
	width: 600px;
	font: 40px fantasy;
	text-align: center;
	color: #ffab00;
	text-shadow: 2px 2px 4px rgb(0,0,0);

	transition: opacity 0.5s;
	opacity: 0;
	display: none;
	z-index: 1;
}

#instructions {
   height: 30px;
   margin-right: 8px;
   padding-top: 6px;
   padding-left: 25px;

   -webkit-transition: opacity 3s;
   -moz-transition: opacity 3s;
   -o-transition: opacity 3s;
   transition: opacity 3s;

   color: #ffab00;
   font-size: 0.95em;
   opacity: 1.0;
}

.keys {
   color: blue;
   text-shadow: 1px 1px 1px rgba(255,255,0,1.0);
   background: rgba(0,0,0,0.1);
   border: thin solid rgba(0,0,0,0.20);
   border-radius: 5px;
   margin-left: 10px;
   padding-right: 10px;
   padding-left: 10px;
   padding-bottom: 5px;

   display: inline;
}

.explanation {
   color: #ffab00;
   text-shadow: 1px 1px 1px rgba(0,0,0,1.0);
   display: inline;
   margin-top: 5px;
   padding-right: 5px;
   padding-left: 5px;
   padding-bottom: 2px;
}


/*.spaceface-mobile-toast {
   position: absolute;
   border-radius: 10px;

   font: 30px fantasy;
   text-align: center;
   text-shadow: 1px 1px 1px rgb(0,0,0);

   color: yellow;

   transition: opacity 1s;

   display: none;
   z-index: 1; 
   opacity: 0;
}

#spaceface-mobile-start-toast {
   width: 800px;
   height: 400px;
}

#spaceface-mobile-welcome-toast {
   width: 800px;
   height: 400px;
}

.spaceface-welcome-link {
   font: 40px fantasy;
   color: gold;
   text-shadow: 2px 2px 2px blue;
}

.spaceface-welcome-link:hover {
   color: yellow;
}

#spaceface-welcome {
   text-align: center;
   padding: 25px;
   margin-bottom: 30px;
   font: 36px fantasy;
   text-shadow: 1px 1px 1px black;
}

#spaceface-welcome-instructions {
   font: 18px fantasy;
   text-shadow: 1px 1px 1px black;
   color: white;
}

#spaceface-mobile-instructions {
   margin-left: 155px;
   padding-left: 5px;
   padding-top: 10px;
   height: 2em;

   color: #ff0;
   font-size: 0.95em;

   transition: opacity 5s;

   display: none;
   opacity: 0;
}*/
